<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=Jy7Kl8dW0b">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=Jy7Kl8dW0b">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=Jy7Kl8dW0b">
<link rel="manifest" href="/site.webmanifest?v=Jy7Kl8dW0b">
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=Jy7Kl8dW0b" color="#cc0000">
<link rel="shortcut icon" href="/favicon.ico?v=Jy7Kl8dW0b">
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="theme-color" content="#ffffff">