@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$vermelho:#990000;
$cinza:#424242;
$amarelo:#ffd300;
$bordo: #af0506;

$spaceTop:95px;
$spaceTopcontainer:175px;

$spaceTopMobile:70px;
$spaceTopcontainerMobile:100px;

$coverMobile: 40vw;

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
      -webkit-box-shadow:inset $top $left $blur $color;
      -moz-box-shadow:inset $top $left $blur $color;
      box-shadow:inset $top $left $blur $color;
    } @else {
      -webkit-box-shadow: $top $left $blur $color;
      -moz-box-shadow: $top $left $blur $color;
      box-shadow: $top $left $blur $color;
    }
}

@keyframes rchoiceanimate {
    0%   {
        background-color: $bordo;
        color:#fff;
    }
    25%  {
        background-color: $amarelo;
        color:$bordo;
        font-weight: bold;
    }
    50%  {
        background-color: $bordo;
        color:#fff;
    }
    100% {
        background-color: $amarelo;
        color:$bordo;
        font-weight: bold;
    }
}

body{
    font-family: 'Roboto', sans-serif;
}
.img-center{
    text-align: center;
    img{
        display: inline;
    }
}
.white {
    background-color: #fff;
}
.hidden {
    display: none !important;
}

header{
    .menu-principal{
        top: 0;
        left: 0;
        z-index: 2;
        .logo{
            padding-top: 16px;
            img{
                width: 100%;
                max-width: 130px;
            }
        }
        .menu {
            display: flex;
            justify-content: center;
            font-size: 14px;
            color: #000;
            text-transform: uppercase;
            a {
                color: #000;
            }
            ul {
                padding: 0;
                margin-bottom: 0;
                list-style-type: none;
                li {
                    float: left;
                    padding: 29px 0 19px 0;
                    margin: 0 8px;
                    border-bottom: 5px solid transparent;
                }
            }
        }
        .seja-assinante {
            background-color: #b72026;
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            padding: 18px 20px 17px 40px;
            width: 65%;
            float: right;
            position: relative;
            &:hover {
                background: #80161b;
            }
            i {
                position: absolute;
                top: 27px;
                left: 15px;
                font-size: 20px;
            }
        }
        .icone-busca {
            float: left;
            width: 15%;
            margin: 0 7% 0 13%;
            height: 71px;
            background: url('../images/ico-busca.png') center 20px no-repeat;
            border-bottom: 5px solid transparent;
            cursor: pointer;
            &:hover {
                border-color: #b72026;
            }
            &.active {
                border-color: #b72026;
            }
            &.open {
                background: url('../images/ico-close.png') center 20px no-repeat;
                border-color: #b72026;
            }
        }
        .explorar {
            cursor: pointer;
            padding-right: 18px !important;
            background: url('../images/explorar-off.png') top 30px right no-repeat;
            &.open {
                border-color: #b72026;
                background: url('../images/explorar-on.png') top 30px right no-repeat;
            }
        }


        .menu-busca, .menu-busca-interno {
            background-color: #242424;
            height: 380px;
            .wrapper-menu-busca {
                display: flex;
                justify-content: center;
                margin-top: 150px;
            }
            .form-control {
                font-size: 30px;
                padding: 15px 25px;
                background-image: url('../images/bg-busca.png');
                background-position: center right 20px;
                background-repeat: no-repeat;
                &:focus,&:active {
                    border-color: transparent;
                    outline: none;
                }
            }
        }

        .menu-explorar {
            background-color: #242424;
            padding: 70px 60px 80px 60px;
            font-size: 14px;
            a {
                color: #fff;
                text-transform: uppercase;
                display: block;
                padding: 3px 20px 3px 0;
                &:hover {
                    color: #b72026;
                }
            }
            h2 {
                font-size: 18px;
                color: #b72026;
                margin-bottom: 20px;
            }
        }
    }
}

.quiz{
    width: 100%;
    background: url('../images/bg.jpg') repeat-x;
    background-size: auto 100%;
    min-height: 90vh;
    position: relative;
    overflow: hidden;
    &::before{
        content: url(../images/shell.jpg);
        position: absolute;
        left: 50%;
        margin-left: -28.5px;
        background:$amarelo;
        padding-top: $spaceTop;
        height: 56px;
        z-index: 3;
    }
    &::after{
        transition: all .5s ease;
        content: " ";
        position: absolute;
        left: 50%;
        margin-left: -28.5px;
        background:$amarelo;
        height: $spaceTop;
        width: 57px;
        bottom: 0px;
        z-index: 3;
    }
    &.question_on{
        &::after{
            content: " ";
            position: absolute;
            height: 45px;
            left: 50%;
            margin-left: -75px;
            background:#fff;;
            width: 150px;
            bottom: $spaceTop;
            z-index: 3;
            
        } 
    }


    .presentation{
        text-align: center;
        padding-top: $spaceTopcontainer;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        margin-bottom: $spaceTopcontainer;
        h2{
            font-weight: 300;
            font-size: 16px;
            b{
                font-weight: 700;
            }
        }
        h3{
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            text-transform: uppercase;
            padding-top: 15px;
            position: relative;
            &::before{
               content: '';
               position: absolute;
               width:  25px;
               height: 1px;
               background: #fff;
               left: 50%;
               margin-left: -12.5px;
               top: 0px;
            }
        }
        p{
            max-width: 700px;
            margin: 0 auto;
            font-weight: 300;
            font-size: 14px;
        }


        .hrefbtniniciar{
            max-width: 300px;
            height: 65px;
            line-height: 65px;
            color: #fff;
            font-size: 16px;
            background: #242424;
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            text-transform: uppercase;
            font-weight: 300;
            position: relative;
            i{
                margin-right: 5px;
            }
            &:hover{
                text-decoration: none;
            }
            &::before{
                content: "Faça login no Facebook e inicie o Quiz";
                color: #000;
                position: absolute;
                text-align: center;
                bottom: -44px;
                left: 0px;
                font-size: 11px;
                width: 100%;
                text-transform: none;   
            }
        }
        .dragtostart {
            width: 452px;
            height: 2px;
            background: url('../images/line.png') no-repeat center;
            margin: 0 auto;
            margin-top: 80px;
            position: relative;
            .btniniciar{
                position: absolute;
                opacity: 0;
                z-index: 9;
                top: -50px;
                right: 0px;
            }
            &::before{
                content: url('../images/btn-null.png');
                position: absolute;
                left: 0px;
                top: -50px;
                width: 101px;
                height: 101px;
                background: #e40001;
            }
            &::after{
                content: url('../images/btn-start.png');
                position: absolute;
                right: 0px;
                top: -50px;
                width: 101px;
                height: 101px;
                z-index: 1;
            }
            h2{
                font-weight: 300;
                font-size: 16px;
                position: absolute;
                top: 10px;
                text-align: center;
                width: 100%;
                font-size: 12px;
                color: #000;
            }
            .car {
                width: 101px;
                height: 101px;
                position: relative;
                left: 0px;
                top: -50px;
                cursor: pointer;
                z-index: 3;
            }
        }
        
    }

    .question{
        display: none;
        position: relative;
        .container-fluid{
            &::before{
                
                content: url(../images/quiz-gp.png);
                position: absolute;
                left: 50%;
                margin-left: -142.5px;
                top: $spaceTopcontainer;
                z-index: 2;
            }
            .row{
                .col-sm{
                    padding: 0px;
                    &.cover{
                        height: 100%;
                        z-index: 1;
                        position: relative;
                        height: 1000px;
                        background-repeat: no-repeat;
                        background-position: top left;
                    }
                    .quiz_question{
                        max-width: 465px;
                        margin: 0 auto;
                        padding-top: $spaceTopcontainer;
                        padding-bottom: 60px;

                        h2{
                            font-size: 200px;
                            line-height: 200px;
                            color: $bordo;
                            font-weight: bold;
                        }
                        h3{
                            color: #fff;
                            font-size: 25px;
                            
                        }
                        .choices{
                            h3{
                                text-align: center;
                                color:$bordo;
                                margin-bottom:10px;
                            }
                            h4{
                                text-align: center;
                                color:$bordo;
                                font-size: 1.5vh;
                                margin-bottom: 20px;
                            }
                            div{
                                text-align: center;
                                margin-bottom: 2vw;
                                color: #000;
                            }
                            &.answer{
                                @include border-radius(10px);
                                background: #fff;
                                margin-top: 40px;
                                padding: 20px;
                            }
                            button{
                                width: 100%;
                                background: $bordo;
                                border: none;
                                margin-bottom: 12px;
                                padding: 15px 30px;  
                                text-align: left;
                                color: #fff;
                                font-weight: 300;
                                transition: all .4s ease;
                                cursor: pointer;
                                
                                &.active{
                                    background: #fff;
                                    color: $bordo;
                                    &::before{
                                        content: "\f054";
                                        font-family: Font Awesome\ 5 Free;
                                        font-weight: 900;
                                        margin-left: -15px;
                                        padding-right: 5px;
                                    }
                                }
                                &.rchoice{
                                    background:$amarelo;
                                    color:$bordo;
                                    font-weight: bold;
                                    animation-name: rchoiceanimate;
                                    animation-duration: 1s;
                                    animation-timing-function: ease;
                                    &:hover{
                                        background:$amarelo!important;
                                        color:$bordo!important;
                                    }
                                }
                                &:hover{
                                    background: #fff;
                                    color: $bordo;
                                    position: relative;
                                    &::before{
    
                                        content: "\f054";
                                        font-family: Font Awesome\ 5 Free;
                                        font-weight: 900;
                                        color: $bordo;
                                        padding-right: 5px;
                                        margin-left: -15px;
                                    }
                                }

                                &.btnnext{
                                    text-align: center;
                                    &:hover{
                                        background: #ff1016;
                                        color: #fff;
                                        position: relative;
                                        &::before, &.active{
        
                                            content: " ";
                                            padding-right: 0px;
                                            margin-left: 0px;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
        &.active{
            display: block;
        }


    }

    .numberstep{
        position: absolute;
        text-align: center;
        z-index: 5;
        color: $bordo;
        font-size: 25px;
        width: 100%;
        bottom: $spaceTop;
        padding-bottom: 4px;
        display: none;
    }

    .quiz_end{
        display: none;
        position: relative;
        padding-bottom: $spaceTopcontainer;
        &.active{
            display: block;
        }
        .container{
            &::before{
                content: url(../images/quiz-gp.png);
                position: absolute;
                left: 50%;
                margin-left: -142.5px;
                top: 0px;
                z-index: 2;
            }
            .result{
                margin-top: $spaceTopcontainer;
                padding-top: $spaceTopcontainer;
                text-align: center;
                color: #fff;
                font-size: 25px;
                font-weight: 300;
                b{
                    font-weight: 800;
                }
            }
            h2{
                &.title{
                    font-size: 120px;
                    color: #5d0001; 
                    text-align: center;
                    font-weight: bold;
                    text-transform: uppercase;
                    position: relative;
                    display: table;
                    margin: 0 auto;
                    &::before{
                        content: url(../images/trofeu.png);
                        width: 65px;
                        height: 65px;
                        position: absolute;
                        margin-left: -100px;
                        top: -10px;
                    }
                    &::after{
                        content: url(../images/trofeu.png);
                        width: 65px;
                        height: 65px;
                        position: absolute;
                        right: -100px;
                        top: -10px;
                    }
                }
            }
            p{
                max-width: 700px;
                padding: 0px 20px;
                margin: 0 auto;
                text-align: center;
                color: #fff;
                font-size: 14px;
            }
            .actions{
                text-align: center;
                padding-top: 60px;
                a{
                   width: 250px;
                   height: 60px;
                   color: #fff;
                   display: inline-block;
                   font-size: 16px;
                   text-transform: uppercase;
                   padding-top: 18px;
                   margin: 0px 15px;
                   position: relative;
                   &.restart{
                       background: #242424;
                       &::after{
                           content: 'Refaça o teste e melhore seu resultado';
                           position: absolute;
                           color: #fff;
                           bottom: -25px;
                           text-align: center;
                           font-size: 11px;
                           text-align: center;
                           width: 100%;
                           left: 0px;
                           text-transform: none;
                           font-weight: 300;
                       }
                   }
                   &.shareresult{
                        background:#3f5a95;
                        &::after{
                            content: 'Faça o login no Facebook e compartilhe';
                            position: absolute;
                            color: #fff;
                            bottom: -25px;
                            text-align: center;
                            font-size: 11px;
                            text-align: center;
                            width: 100%;
                            left: 0px;
                            text-transform: none;
                            font-weight: 300;
                        }
                   }
                   &.shareresultb{
                    background:#3f5a95;
                    &::after{
                        content: 'Compartilhe o resultado';
                        position: absolute;
                        color: #fff;
                        bottom: -25px;
                        text-align: center;
                        font-size: 11px;
                        text-align: center;
                        width: 100%;
                        left: 0px;
                        text-transform: none;
                        font-weight: 300;
                    }
               }
                }
            }
        }

    }


}


footer{
    background: #242424;
    .fab {
        font-family: Font Awesome\ 5 Brands;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }
    .footer-nav {
        padding: 60px 0;
        font-size: 12px;
        h3 {
            font-size: 14px;
            color: #b72026;
            font-weight: bold;
            border-bottom: 1px solid #505050;
            padding-bottom: 6px;
            margin-bottom: 15px;
        }
        nav {
            text-transform: uppercase;
            ul {
                padding-left: 0;
                list-style-type: none;
                li {
                    padding: 3px 0;
                    a {
                        color: #fff;
                    }
                }
            }
        }
        .gp-logo{
            p{
                color: #fff;
                margin-top: 10px;
            }
            
            .canais-mobile {
                display: none;
            }
        }
    }
    .footer-final {
        background-color: #000;
        padding: 20px 0;
        color: #fff;
        font-size: 14px;
        div {
            display: flex;
            justify-content: center;
        }
        .disclaimer a {
            padding: 5px 40px 0 40px;
        }
        .canais {
            text-align: right;
            i {
                font-size: 20px;
                margin-top: 5px;
                margin-right: 20px;

                
            }
            p {
                padding: 5px 20px 0 0;
            }
            a{
                i{
                    font-size: 30px;
                    padding: 0 15px;
                    margin: 0;
                }
            }
        }
        a {
            color: #fff;
        }
    }
}

@media screen and (min-width: 1199px) {
    .container {
        max-width: 1440px;
    }
    .menu-mobile,
    .content-menu-mobile {
        display: none;
    }
}
@media screen and (max-width: 1320px) {
    header{
        .menu-principal{
            .menu {
                font-size: 13px;
                ul {
                    li {
                        margin: 0 6px;
                    }
                }
            }
            .seja-assinante {
                font-size: 13px;
                padding: 17px 15px 17px 36px;
             
            }    
            .menu-explorar {
                font-size: 13px;
                h2 {
                    font-size: 16px;
                }
                a{
                    font-size: 13px;
                }
            }
        }
    }
    footer{
        .footer-final {
            .canais{
                p,.fa-chevron-right{
                    display: none;
                }
            }
        }
    } 
}


@media screen and (max-width: 1199px) {
    header{
        .menu-principal{
            display: none;
        }
        .menu-mobile{

            border-bottom: 1px solid #b2b2b2;
            z-index: 2;
            .icone-menu {
                padding: 14px 0 0 20px;
                cursor: pointer;
                border-bottom: 3px solid transparent;
                background: url(../images/ico-menu.png) no-repeat center center;
                background-size: 25px 19px;
            }
            .row {
                height: 50px;
            }
            .col-xs-2 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 16.666667%;
                flex: 0 0 16.666667%;
                max-width: 16.666667%;
            }
            .col-xs-8 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
                max-width: 66.666667%;
            }
            .logo-mobile {
                text-align: center;
                padding-top: 6px;
                width: 100%;
                img {
                    width: 100%;
                    max-width: 100px;
                }
            }
            .icone-busca {
                padding: 11px 20px 0 0;
                text-align: right;
                img {
                    width: 22px;
                    height: auto;
                }
            }
        }
    }
}


@media screen and (max-width: 991px) {
    .icone-busca{
        display: none;
    }
    header{
        .content-menu-mobile {
            width: 100%;
            background: #242424;
            color: #fff;
            z-index: 4;
            top: 50px;
            position: fixed;
            display: block;
            overflow: auto;
            max-width: 420px;
            .assine-mobile {
                background: #80161b;
                font-weight: bold;
                text-transform: uppercase;
                padding: 15px 20px;
            }
            .spacer-mobile {
                padding: 0 20px;
            }
            ul {
                padding: 0;
                list-style-type: none;
                
            }
            a {
                color: #fff;
                font-size: 1.5vh;
                li {
                    padding: 15px 0;
                    text-transform: uppercase;
                    border-top: 1px solid #3a3a3a;
                }
                &.first-child li {
                    border-top: none;
                }
            }
        }
    }


    .quiz{
        &::before{
            padding-top: 0px;
 
        }
        .question{
            .container-fluid{
                
                
                &::before{
                    top: $spaceTopMobile;
                }
                .row{
                    .col-sm{
                        padding: 0px;
                        &.cover{
                            background-position: center;
                            height: 100%;
                            min-height: 780px;
                        }
                        .quiz_question{
                            max-width: 350px;
                            margin: 0 auto;
                            padding-top: $spaceTopcontainerMobile;
                            padding-bottom: 0px;
    
                            h2{
                                font-size: 140px;
                                line-height: 140px;
                            }
                            h3{
                                color: #fff;
                                font-size: 20px;
                                margin-bottom: 15px;
                            }
                            
    
                        }
                    }
                }
            }
    
        }
    
    
    }
}

@media screen and (max-width: 768px) {

    footer{
        background: #242424;
        .fab {
            font-family: Font Awesome\ 5 Brands;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
        }
        .footer-nav {
            padding: 30px 0;
            font-size: 12px;
            a{
                color: #fff;
            }
            h3 {
                font-size: 14px;
                color: #b72026;
                font-weight: bold;
                border-bottom: 1px solid #505050;
                padding-bottom: 6px;
                margin-bottom: 15px;
            }
            nav {
                text-transform: uppercase;
                ul {
                    padding-left: 0;
                    list-style-type: none;
                    li {
                        padding: 3px 0;
                        a {
                            color: #fff;
                        }
                    }
                }
            }
            .gp-logo{
                text-align: center;
                p{
                    color: #fff;
                    margin: 5px 0 0 0;
                    
                }
                
                .canais-mobile {
                    display: block;
                    padding: 30px 0 0 0;
                    i{
                        font-size: 30px;
                    }
                    a {
                        margin: 0 15px;
                    }
                }
            }
            .menu-footer {
                display: none;
            }
        }
        .footer-final {
            background-color: #000;
            padding: 20px 0;
            color: #fff;
            font-size: 14px;
            div {
                display: flex;
                justify-content: center;
            }
            .disclaimer{
                a{
                    padding: 5px 17px 0 17px;
                    text-align: center;
                    font-size: 10px;
                }
                
            }
            .canais {
                display: none;
            }
            a {
                color: #fff;
            }
        }
    }
    


    .quiz{

        &::before{
            transition: all .5s ease;
            padding-top: 60px;
        }
        &::after{
            transition: all .5s ease;
            background:$amarelo;
            height: 60px;
        }
        &.question_on{
            &::before{
                content: url(../images/shell.jpg);
                position: absolute;
                left: 50%;
                margin-left: -28.5px;
                background:none;
                padding-top: $coverMobile;
                height: 56px;
                z-index: 3;
            }
            &::after{
                transition: all .5s ease;
                content: " ";
                position: absolute;
                left: 50%;
                margin-left: -28.5px;
                background:$amarelo;
                height: 60px;
                width: 57px;
                bottom: 0px;
                z-index: 3;
            } 
        }
    
    
        .presentation{
            padding-top: 135px;
            margin-bottom: 100px;
            h2{
                font-size: 16px;
            }
            h3{
                margin-top: 15px;
                font-weight: 300;
                font-size: 14px;
                text-transform: uppercase;
                padding-top: 15px;
                position: relative;
                &::before{
                   content: '';
                   position: absolute;
                   width:  25px;
                   height: 1px;
                   background: #fff;
                   left: 50%;
                   margin-left: -12.5px;
                   top: 0px;
                }
            }
            
    
    
            .dragtostart {
                width: 95%;
                &::after{
                    background:#e40001;
                }
            }
            
        }
    
        .question{
            display: none;
            position: relative;
            padding-bottom: 50px;
            .cover-mobile{
                min-height: $coverMobile;
                background-position: center;
                background-size: cover;
            }
            .container-fluid{
                position: relative;
                &::before{
                    top: 40px;
                    z-index: 2;
                    transform: scale(0.6);
                }
                .row{
                    .col-sm{
                        padding: 0px;
                        &.cover{
                            display: none;
                        }
                        .quiz_question{
                            max-width: 90%;
                            margin: 0 auto;
                            padding-top: 105px;
                            padding-bottom: 60px;
    
                            h2{
                                font-size: 18vw;
                                letter-spacing: -1.5vw;
                                line-height: 20vw;
                            }
                            h3{
                                color: #fff;
                                font-size: 5vw;
                                margin-bottom: 30px;
                            }
                        }
                    }
                }
            }
            &.active{
                display: block;
            }
    
    
        }
    
        .numberstep{
            position: absolute;
            text-align: right;
            z-index: 4;
            color: #ffffff;
            font-size: 5vw;
            width: 100%;
            bottom: 30px;
            padding-bottom: 4px;
            display: none;
            padding-right: 5%;
        }
    
        .quiz_end{
            display: none;
            position: relative;
            padding-bottom: 120px;
            &.active{
                display: block;
            }
            .container{
                &::before{
                    content: url(../images/quiz-gp.png);
                    transform: scale(0.6);
                    position: absolute;
                    left: 50%;
                    margin-left: -142.5px;
                    top: 0px;
                    z-index: 2;
                }
                .result{
                    margin-top: 95px;
                    padding-top: 145px;
                    b{
                        font-weight: 800;
                    }
                }
                h2{
                    &.title{
                        font-size: 15vw;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        &::before{
                            content: url(../images/trofeu.png);
                            transform: scale(.5);
                            width: 65px;
                            height: 65px;
                            position: absolute;
                            margin-left: -60px;
                            top: 1vw;
                        }
                        &::after{
                            content: url(../images/trofeu.png);
                            transform: scale(.5);
                            width: 65px;
                            height: 65px;
                            position: absolute;
                            right: -60px;
                            top: 1vw;
                        }
                    }
                }

                .actions{
                    text-align: center;
                    padding-top: 60px;
                    a{
                       width: 80%;
                       height: 60px;
                       color: #fff;
                       display: inline-block;
                       font-size: 16px;
                       text-transform: uppercase;
                       padding-top: 18px;
                       margin: 0px 15px;
                       position: relative;
                       &.restart{
                           background: #242424;
                           margin-bottom: 50px;
                           text-decoration: none;
                           img{
                            max-height: 20px;
                            margin-right: 15px;
                           }
                           &::after{
                               content: 'Refaça o teste e melhore seu resultado';
                               position: absolute;
                               color: #fff;
                               bottom: -25px;
                               text-align: center;
                               font-size: 11px;
                               text-align: center;
                               width: 100%;
                               left: 0px;
                               text-transform: none;
                               font-weight: 300;
                           }
                       }
                       &.shareresult{
                           
                            text-decoration: none;
                            background:#3f5a95;
                            i{
                                margin-right: 10px;
                            }
                            &::after{
                                content: 'Faça o login no Facebook e compartilhe';
                                position: absolute;
                                color: #fff;
                                bottom: -25px;
                                text-align: center;
                                font-size: 11px;
                                text-align: center;
                                width: 100%;
                                left: 0px;
                                text-transform: none;
                                font-weight: 300;
                            }
                       }
                    }
                }
            }
    
        }
    
    
    }
}

